<%= form_with(model: task, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, '詳細' %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <%= f.submit "投稿する", class: 'btn btn-primary' %>
<% end %>
