
<% if task.errors.present? %>
    <div id="error_explanation">
      <h2><%= task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<%= form_with(model: task, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :end_deadline %>
    <%= f.date_field :end_deadline, class: 'form-control' %>
  </div>
  <%= f.submit t('helpers.submit.create'), class: 'btn btn-primary' %>
<% end %>
