<h1>タスクの詳細</h1>

<%= link_to 'タスク一覧', tasks_path, class: 'btn btn-primary' %>

<table border>
  <tbody>
    <tr>
      <th>ID</th>
      <td><%= @task.id %></td>
    </tr>
    <tr>
      <th>タスク名</th>
      <td><%= @task.title %></td>
    </tr>
    <tr>
      <th>詳細</th>
      <td><%= simple_format(h(@task.description), {}, sanitize: false, wrapper_tag: "div") %></td>
    </tr>
    <tr>
      <th>登録日時</th>
      <td><%= @task.created_at %></td>
    </tr>
    <tr>
      <th>更新日時</th>
      <td><%= @task.updated_at %></td>
    </tr>
  </tbody>
</table>

<%= link_to '編集', edit_task_path, class: 'btn btn-primary mr-3' %>
