<h2><%= @user.name %><%= t('.my_page') %></h2>

<table class="table table-striped">
  <tbody>
    <tr>
      <th><%= t('activerecord.attributes.user.name') %></th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th><%= t('activerecord.attributes.user.email') %></th>
      <td><%= @user.email %></td>
    </tr>
  </tbody>
</table>
