<h2><%= t('directory.user_edit') %></h2>

<%= link_to t('directory.user_list'), admin_users_path, class: 'btn btn-info' %>

<% if @user.errors.present? %>
  <div id="error_explanation">
    <h2><%= @user.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(class: "form-inline", model: [:admin, @user], local: true) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>
  <div class="form-check">
    <%= f.label :admin, class: 'form-check-label'%>
      <%= f.check_box :admin, class: 'form-check-input' %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <%= f.submit t('directory.registration'),class: 'btn btn-primary' %>
<% end %>
