<h2><%= @user.name %><%= t('users.show.my_page') %></h2>

<%= link_to t('directory.user_list'), admin_users_path, class: 'btn btn-info' %>

<h3><%= t('directory.user_details') %></h3>
<table class="table table-striped">
  <tbody>
    <tr>
      <th><%= t('activerecord.attributes.user.name') %></th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th><%= t('activerecord.attributes.user.email') %></th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th><%= t('activerecord.attributes.user.admin') %></th>
      <td><%= @user.admin %></td>
    </tr>
    <tr>
      <th><%= t('activerecord.attributes.user.created_at') %></th>
      <td><%= @user.created_at.strftime("%Y-%m-%d %H:%M") %></td>
    </tr>
    <tr>
      <th><%= t('activerecord.attributes.user.updated_at') %></th>
      <td><%= @user.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
    </tr>
  </tbody>
</table>

<h3><%= t('tasks.index.task_list') %></h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.task.title') %></th>
      <th><%= t('activerecord.models.user') %></th>
      <th><%= t('activerecord.attributes.task.created_at') %></th>
      <th><%= t('activerecord.attributes.task.end_deadline') %></th>
      <th><%= t('activerecord.attributes.task.status') %></th>
      <th><%= t('activerecord.attributes.task.priority') %></th>
      <th><%= t('directory.edit') %></th>
      <th><%= t('directory.delete') %></th>
    </tr>
  </thead>
  <tbody>
    <% @user.tasks.each do |task| %>
    <tr>
      <td><%= link_to task.title, task_path(task) %></td>
      <td><%= task.user.name %></td>
      <td><%= task.created_at.strftime("%Y-%m-%d %H:%M") %></td>
      <td><%= task.end_deadline.strftime("%Y-%m-%d %H:%M") %></td>
      <td><%= task.status %></td>
      <td><%= task.priority %></td>
      <td><%= link_to t('directory.edit'), edit_task_path(task), class: 'btn btn-primary mr-3' %></td>
      <td><%= link_to t('directory.delete'), task, method: :delete, data: { confirm: "タスク「#{task.title}」を削除します。よろしいですか？" }, class: 'btn btn-danger' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
